{% extends 'base.html' %} 
{% block content %}
  <h2>{% block title %} Posts with tag <span class="badge badge-secondary">{{ tag.name }}</span> {% endblock %}</h2>
  {% if not posts %}<p>No posts with tag {{ tag.name }}.</p>{% endif %}
  {% for post in posts %}
    <a href="{{ url_for('posts.post', post_id=post.id) }}">
      <h2>{{ post.title }}</h2>
    </a>
    <a href="{{ url_for('posts.index', created_at=post.created_at) }}">
      <span class="badge badge-primary">{{ post.created_at }}</span>
    </a>
    <a href="{{ url_for('posts.edit', post_id=post.id) }}">
      <span class="badge badge-warning">Edit</span>
    </a>
    <hr>
  {% endfor %}
{% endblock %}
